<template>
  <view class="contenedor">    
      

    <text-input class="caja" v-model="entrada"/>
    <view class="botones">    
      <text :onPress="uno" class="boton">1</text>           
      <text :onPress="dos" class="boton">2</text>
      <text :onPress="tres" class="boton">3</text>
      <text :onPress="mas" class="boton">+</text>      
    </view>     
    <text  v-for="dato in datojson">
      {{dato.rate}}
    </text>
    <view class="botones">    
      <text :onPress="cuatro" class="boton">4</text>           
      <text :onPress="cinco" class="boton">5</text>
      <text :onPress="seis" class="boton">6</text>
      <text :onPress="menos" class="boton">-</text>
    </view> 
    <view class="botones">    
      <text :onPress="siete" class="boton">7</text>           
      <text :onPress="ocho" class="boton">8</text>
      <text :onPress="nueve" class="boton">9</text>
      <text :onPress="multiplicacion" class="boton">*</text>
    </view> 
    <view class="botones">    
      <text :onPress="cero" class="boton">0</text>           
      <text :onPress="borrar" class="boton">Del</text>
      <text :onPress="igual" class="boton">=</text>
      <text :onPress="division" class="boton">/</text>
    </view> 
        
                    
    <padre :parametro1="operacion" :parametro2="operador"/>


  </view>  
    
</template>

<script>
import Padre from "./pantallas/Padre";

    export default {
        components: { Padre },
        data: function() {
            return {
                entrada: '',
                datojson:null,
                nombre:"",
                valor1:0,
                operador:"", 
                operacion:''               
            };
        },
        methods:{
          cero:function(){this.entrada+='0';},
          uno:function(){this.entrada+='1';},
          dos:function(){this.entrada+='2';},
          tres:function(){this.entrada+='3';},
          cuatro:function(){this.entrada+='4';},
          cinco:function(){this.entrada+='5';},
          seis:function(){this.entrada+='6';},
          siete:function(){this.entrada+='7';},
          ocho:function(){this.entrada+='8';},
          nueve:function(){this.entrada+='9';},
          mas:function(){
            this.entrada+='+';
            this.operador="Suma";
            },         
          menos:function(){
            this.entrada+='-';
            this.operador="Resta";
            },      
          multiplicacion:function(){
            this.entrada+='*';
            this.operador="Multiplicación";
            },      
          division:function(){
            this.entrada+='/';
            this.operador="División";
            },
          igual:function(){
            this.operacion=this.entrada;
            this.entrada=  eval(this.entrada).toFixed(3).toString();            
            },
          borrar:function(){this.entrada="";},          
        }
    }
</script>
<style>
  .estilo2022{
    background-color:#b9eb04;
    font-size:25px;
    
  }
  .estilo2021{
    background-color:#79ff84;
    
  }
  .estilocopabisi{
    background-color:#F57865;
    width:150px;
    height:120px;
    font-size:20px;
  }
  .contenedor{
    background-color: #50559a;        
    margin-top:30px;    
    width:100%;
    height:100%;
  }
  .entrada{
    width:80%;   
    height:40px;     
    borderWidth: 1;
    margin:8px;
    background-color:red;
  }
  .caja{
      width:100%;
      height:100px;
      border-width: 5px;      
      border-color: #50009a;
      border-radius: 50px;
      background-color:#bffff4;
      font-size:50px;
      text-align:right;
      color:black;
      padding-right:50px;
      padding-left:50px;
      display:flex;
  }
  .botones{       
    width:100%;
    height:120px;    
    background-color:green;
    flex-direction:row;
  }
  .boton{
    color:red;
    font-size:50px;
    border-width: 4px;      
    border-color: #f18a9A;
    border-radius:20px;
    width:23%;
    height:100px;
    text-align:center;
    background-color:#bff444;
    margin:3px;      
  }


  .text-container {        
    flex: 1;    
    margin: 20px;
  }
  .container1{
    background-color: #504512;            
    flex:1;
  }
  .container2{
    background-color: #a0a90d;        
    flex:1;
  }  
  .texto{    
    font-size: 20px;
    background-color:#55ffa9;
    margin:5px;
    color: black;
    border-width: 3px;    
    border-color: #aea400;
    text-align:center;
  }
  .text-color-primary{
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin-bottom: 30px;
    background-color: #00b2a9;
    color: black;
    border-width: 3px;    
    border-color: #aea400;
    font-size: 25px;
  }
</style>
