<template>
  <view class="contenedor">                  
    <text class="contenedor">{{mensaje}}</text>
  </view>      
</template>

<script>

    export default {
        props:{
          mensaje:String
        },
        data: function() {
            return {                       
            };
        }
    }
</script>
<style>
   .contenedor{
        background-color: #fffffa;        
        margin-top:30px;    
        width:100%;
        height:100%;        
        font-size:30px;
    }
</style>
