<template>
  <view class="contenedor">       
    <text class="caja">{{parametro1}}</text>                    
    <hijo :mensaje="parametro2"/>
  </view>      
</template>

<script>
import Hijo from "./Hijo";

    export default { 
        components: { Hijo },
        props: {
            parametro1: String,
            parametro2: String   
        },
        data: function() {
            return {
                                  
            };
        },
        methods:{
               
        }
    }
</script>
<style>
   .contenedor{
        background-color: #505005;        
        margin-top:30px;    
        width:100%;
        height:100%;
    }
    .caja{
      width:100%;
      height:80px;
      border-width: 5px;      
      border-color: #50509a;
      border-radius: 50px;
      background-color:#bffff4;
      font-size:50px;
      text-align:right;
      color:black;
      padding-right:50px;
      padding-left:50px;
      display:flex;
  }
</style>
